

.container-contact{
  width:80%;
  margin:2% 10% 0 10%;
}
.contact-grid{
display:flex;
/* padding:2%; */
}
.conact-info{
width:50%;
}
.contact-par{
margin-top:1rem;
font-size:1.5rem;
width:100%;
}
.contact-details{
margin-top:2rem;
}
.contact-detail{
width:80%;
}
.contact-form{
width:80%;
}
.font-bold{
font-size:1.4rem;
font-weight:bold;
}
.link{
text-decoration:none;
color:black;
font-size:1.4rem;
}
.address{
font-size:1.5rem;
}
u{
text-underline-offset: 10px;
font-weight: bold;
text-decoration-color: red;
text-decoration-thickness: 4px;
}
.form-group{
width:100%;
margin:1rem;
}
form{
width:100%;
}
label{
font-size:1.5rem;
}

.form-group input,
.form-group textarea {
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
border: 1px solid #e2e8f0;
border-radius: 0.25rem;
width: 100%;
padding: 0.5rem 0.75rem;
color: #4a5568;
}

.form-group input:focus,
.form-group textarea:focus {
outline: none;
box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.form-actions button {
background-color: #e53e3e;
color: #fff;
font-size:1.2rem;
font-weight: bold;
padding: 0.5rem 1rem;
border: none;
border-radius: 0.25rem;
cursor: pointer;
}
.bottom{
margin-top:1rem;
}
.reponsive-map{
  overflow:hidden;
  height:auto;
  padding-bottom:30%;
  position:relative;
  margin-top:1rem;
  margin-bottom:2rem;
}
iframe {
  border:0;
  height:100%;
  width:100%;
  left:0%;
  right:0%;
  position:absolute;
}


@media(max-width:768px){
  .contact-grid{
    display:block;
  }
  .contact-par, .link, .font-bold , .address{
    font-size:1.25rem;
  }
  .contact-form{
    margin-top:2rem;
  }
  .bottom{
    margin-top:2rem;
  }
}